.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

.footer-title {
    font-size: 1.4rem;
    color: #7070704D;
    font-family: 'Quicksand', sans-serif;
}