.header {
    display: flex;
    justify-content: left;
}

.header-title {
    font-size: 3.8rem;
    margin-left: 7.7rem;
}

.header-wrap {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
}

.header-contents{
    margin-left: 2rem;
    color: #707070;
}