@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


#header {
    display: flex;
    justify-content: left;
}

.header-title {
    font-size: 4rem;
    margin-left: 7.7rem;
    display: block;
    letter-spacing: 13px;
    width: 25%;
    font-family: 'Noto Sans JP', sans-serif;
}

.header-wrap {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    width: 75%;
}

.header-contents{
    letter-spacing: 1px;
    margin-left: 2rem;
    color: #707070;
    border-bottom: 1px solid darkgrey;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    #header {
        display: none !important;
        color: red;
    }
}